<!DOCTYPE html>
<html>
  <head>
    <title>이미지 리스트</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>이미지 리스트</h1>
    <a href="/">이미지 업로드</a>
    <p>다운로드용</p>
    <hr/>
    <div>
        <% list.map(item => { %>
            <img src=<%= item %> width="100px" height="100px" />
        <% }); %>
    </div>
  </body>
</html>
